.overlay {
  animation: fade-in 200ms ease-in-out;
  animation-fill-mode: forwards;
  height: 100vh; /* for backward compatibility on browsers which unsupported dvh unit */
  height: 100dvh;
}

@keyframes :local(fade-in) {
  from {
    @apply opacity-0;
  }
  to {
    @apply opacity-100
  }
}
